In [1]:
'065676'

'065676'

# Imports

In [2]:
import backtrader
from helpers.datahandler import *
from helpers.investing import *
from helpers.journal_handler import *

# Defaults

In [3]:
pd.set_option('display.max_rows', 100)



In = Investing()

# private_key = join(expanduser('~'),'Documents','client_secret.json')
# JH = JournalHandler(private_key)

# journal = JH.get_journal('Finance Journal')

# Work

In [4]:
budget = 10000

df = In.get_recent_info(nifty = 50, **{'mvs':[20,50,100,200]})
df = df[(df['Overbought'] == False) & (df['Ichi Count'] > 0) & 
        (df['Over 50-SMA'] == True) & (df['Over 100-SMA'] == True) & (df['Over 200-SMA'] == True) &
       (df['Momentum ADX'] > 25) & 
        (df['LTP'] <= budget)]

df

/home/admin1/anaconda3/envs/finance/lib/python3.7/site-packages/ta/trend.py:768: RuntimeWarning: invalid value encountered in double_scalars
  dip[i] = 100 * (self._dip[i] / self._trs[i])
/home/admin1/anaconda3/envs/finance/lib/python3.7/site-packages/ta/trend.py:772: RuntimeWarning: invalid value encountered in double_scalars
  din[i] = 100 * (self._din[i] / self._trs[i])

,Date,Name,LTP,Index,Over 20-SMA,Over 50-SMA,Over 100-SMA,Over 200-SMA,Overbought,Oversold,Momentum ADX,Ichi Count,1 Candle,2 Candles,3 Candles
11,2021-08-06,DIVISLAB,4916.00,Nifty 50,True,True,True,True,False,False,47.231493,2,Unknown Red,Unknown,Unknown
15,2021-08-06,HCLTECH,1049.95,Nifty 50,True,True,True,True,False,False,30.879745,2,Unknown Red,Unknown,Unknown
19,2021-08-06,HINDALCO,442.15,Nifty 50,True,True,True,True,False,False,35.729104,2,Shooting Star,Unknown,V Pattern
29,2021-08-06,LT,1610.35,Nifty 50,True,True,True,True,False,False,27.365741,2,Unknown Red,Unknown,Unknown
44,2021-08-06,TATASTEEL,1428.85,Nifty 50,True,True,True,True,False,False,40.360750,2,Unknown Red,Unknown,Unknown
48,2021-08-06,ULTRACEMCO,7527.65,Nifty 50,True,True,True,True,False,False,43.697487,2,Unknown Red,Unknown,Unknown
49,2021-08-06,WIPRO,598.00,Nifty 50,True,True,True,True,False,False,36.898605,2,Unknown Red,Unknown,Reverse V Pattern

In [18]:
df = In.show_full_stats(10000,100, diff = 101, nifty='nifty_200')

df = df[(df['Expected Change %'] <=15) & (df['RSI']<70) & (df['Ichi']>0)]
df

/home/admin1/Desktop/ML Study/Finance/helpers/investing.py:214: UserWarning: Risk should be atleast 133.23 for you to afford IPCALAB
  warnings.warn(f"Risk should be atleast {r} for you to afford {name}")
/home/admin1/Desktop/ML Study/Finance/helpers/investing.py:214: UserWarning: Risk should be atleast 150.56 for you to afford ADANIENT
  warnings.warn(f"Risk should be atleast {r} for you to afford {name}")
/home/admin1/Desktop/ML Study/Finance/helpers/investing.py:214: UserWarning: Risk should be atleast 122.75 for you to afford EICHERMOT
  warnings.warn(f"Risk should be atleast {r} for you to afford {name}")
/home/admin1/Desktop/ML Study/Finance/helpers/investing.py:214: UserWarning: Risk should be atleast 180.6 for you to afford ALKEM
  warnings.warn(f"Risk should be atleast {r} for you to afford {name}")

,DATE,OPEN,HIGH,LOW,CLOSE,52W H,52W L,SYMBOL,Diff,Rising,Ichi,RSI,ATR,Triple Candle,Double Candle,Recent Candle,Index,Expected Change %,Max Config Risk
11,2021-08-06,1769.0,1784.7,1756.15,1777.2,2049.0,1230.6,KOTAKBANK,18.73,False,1,60.951334,40.910714,Unknown,Unknown,Unknown Green,Nifty 50,3.99,71.37

In [21]:
random.choice(In.data['nifty_50'])

'CIPLA'

In [17]:
for name in In.data['nifty_500']:
    df = In.open_downloaded_stock(name)
    if In.has_golden_crossover(df,lookback=20):
        print(name)

AARTIDRUGS
BRITANNIA
CREDITACC
HUHTAMAKI
MARUTI
SPANDANA
SUNTECK
VSTIND