In [1]:
'065676'

'065676'

# Imports

In [1]:
import backtrader
from helpers.datahandler import *
from helpers.investing import *
from helpers.journal_handler import *
from helpers.intraday import *
from helpers.nse_data import *

# Defaults

In [2]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 20)

In = Investing(check_fresh = True)
Intra = IntraDay()
NSE = NSEData()

Checking Fresh Data.....
---------------------------------------------------------------------------

Trailing Stop Loss:

HDFC bought on: 2021-08-11 00:00:00,

BHARTIARTL bought on: 2021-08-31 00:00:00,

---------------------------------------------------------------------------

# Journal
Make a journal in Google Drive for each trade you take to analyse. It is a not so simple process and need to connect with Google API so if you're comfortable with it, just skip it

In [6]:
private_key = join(expanduser('~'),'Documents','client_secret.json') # Personal for each user. Mine is stored in /home/Documents
JH = JournalHandler(private_key)

journal = JH.get_journal('Finance Journal') # My GoogkeSheet jornam has name "Finance Journal"

JH.total_pl(journal)

---------------------------------------------------------------------------

Trailing Stop Loss:

HDFC bought on: 2021-08-11 00:00:00,

BHARTIARTL bought on: 2021-08-31 00:00:00,

---------------------------------------------------------------------------

/home/admin1/anaconda3/envs/finance/lib/python3.7/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

209.94

# Swing
## All Details
Basic Details about stocks such as Momentum, Ichimoku, 1-2-3 candles pattern etc

In [7]:
budget = 15000

df = In.get_recent_info(nifty = 100, **{'mvs':[20,50,100,200]})
df = df[(df['Overbought'] == False) & (df['Ichi Count'] > 0) & 
        (df['Over 50-SMA'] == True) & (df['Over 100-SMA'] == True) & (df['Over 200-SMA'] == True) &
       (df['Momentum ADX'] > 25) & 
        (df['LTP'] <= budget)]

df.head(2)

/home/admin1/anaconda3/envs/finance/lib/python3.7/site-packages/ta/trend.py:768: RuntimeWarning: invalid value encountered in double_scalars
  dip[i] = 100 * (self._dip[i] / self._trs[i])
/home/admin1/anaconda3/envs/finance/lib/python3.7/site-packages/ta/trend.py:772: RuntimeWarning: invalid value encountered in double_scalars
  din[i] = 100 * (self._din[i] / self._trs[i])

,Date,Name,LTP,Index,Over 20-SMA,Over 50-SMA,Over 100-SMA,Over 200-SMA,Overbought,Oversold,Momentum ADX,Ichi Count,1 Candle,2 Candles,3 Candles
0,2021-09-15,ACC,2467.40,Nifty 100,True,True,True,True,False,False,32.134168,2,Unknown Green,Unknown,Unknown
6,2021-09-15,ALKEM,3852.15,Nifty 100,True,True,True,True,False,False,42.090873,2,Unknown Green,Unknown,Unknown

## 44-SMA 
If you find a `Green` candle taking support on 44 days `Simple Moving Average` line and stock is in uptrend, set Risk to Reward ratio as 1:5

In [5]:
budget = 15000
risk = 150
df = In.show_full_stats(budget=budget,risk=risk, diff = risk, nifty='nifty_50')
df = df[(df['Expected Change %'] <= 15) & (df['RSI']<70) & (df['Direction'] != 'Falling Low')]
df

,DATE,OPEN,HIGH,LOW,CLOSE,52W H,52W L,SYMBOL,Diff,Direction,Ichi,RSI,ATR,Triple Candle,Double Candle,Recent Candle,Index,Expected Change %,Max Config Risk
2,2021-09-14,302.25,307.20,302.20,306.10,360.75,122.15,TATAMOTORS,4.96,Undeterministic,1,60.252931,7.150000,Unknown,Unknown,Unknown Green,Nifty 50,8.00,147.63
10,2021-09-14,214.90,217.25,214.20,216.10,239.20,163.35,ITC,5.24,Undeterministic,0,65.357864,2.917857,Unknown,Unknown,Unknown Green,Nifty 50,5.40,146.98
5,2021-09-14,123.30,125.40,122.80,123.95,128.50,64.10,ONGC,5.81,Rising High,1,63.546147,3.057143,Unknown,Unknown,Inverted Hammer,Nifty 50,7.24,145.49
1,2021-09-14,999.00,1039.00,997.60,1036.60,1119.50,485.00,INDUSINDBK,10.28,Undeterministic,1,60.811694,22.167857,V Pattern,Unknown,Bullish,Nifty 50,9.30,145.14
6,2021-09-14,2800.00,2861.00,2800.00,2851.70,3629.05,2636.00,HEROMOTOCO,10.33,Undeterministic,1,62.937304,44.732143,Unknown,Unknown,Unknown Green,Nifty 50,6.74,96.63
13,2021-09-14,1170.00,1174.00,1158.05,1170.90,1253.65,755.25,SBILIFE,25.29,Undeterministic,0,51.002062,28.439286,Unknown,Unknown,Green Doji,Nifty 50,3.91,137.86
4,2021-09-14,791.00,801.00,790.00,794.40,819.00,400.15,AXISBANK,30.03,Rising High,0,61.191735,17.310714,V Pattern,Unknown,Unknown Green,Nifty 50,4.76,133.59
9,2021-09-14,747.80,762.75,745.45,755.40,901.00,312.10,ADANIPORTS,38.25,Undeterministic,1,62.794576,15.846429,Unknown,Unknown,Unknown Green,Nifty 50,6.22,142.52
14,2021-09-14,737.80,744.00,736.10,739.20,775.65,555.95,HDFCLIFE,46.53,Rising High,1,65.566299,18.157143,V Pattern,Unknown,Inverted Hammer,Nifty 50,5.91,132.10
12,2021-09-14,1676.00,1698.80,1675.40,1696.45,1718.00,843.00,LT,52.19,Rising High,0,64.101470,33.175000,Unknown,Unknown,Bullish,Nifty 50,4.90,124.98
7,2021-09-14,671.00,675.70,670.00,673.45,690.00,293.15,WIPRO,57.25,Rising High,0,69.181338,13.650000,Unknown,Unknown,Unknown Green,Nifty 50,5.67,134.28
8,2021-09-14,1850.00,1879.00,1845.15,1867.75,2049.00,1230.60,KOTAKBANK,99.49,Undeterministic,0,69.990839,35.535714,Unknown,Unknown,Unknown Green,Nifty 50,9.34,87.92
15,2021-09-14,1435.00,1457.00,1429.50,1452.05,1478.00,747.55,TECHM,132.17,Rising High,0,66.904152,30.375000,Unknown,Unknown,Unknown Green,Nifty 50,5.42,118.58

## Golden Crossover
When 44 days `SMA` Crosses 200 days `SMA` from below and you find a `Green` candle within 15 days taking support on `44` days line set Risk to Reward ratio as 1:5

In [6]:
for name in In.data['nifty_200']:
    df = In.open_downloaded_stock(name)
    if In.has_golden_crossover(df,lookback=5):
        print(name)

HDFCLIFE
INDIAMART

## Oversold / Overbought Stocks
Buy when RSI is less than 30 sell when greater than 70

In [7]:
for name in In.data['nifty_100']:
    df = In.open_downloaded_stock(name)
    if In.get_RSI(df) < 30:
        print(name)

# Intraday

## Narrow Range 7
If recent candle's range is lowest among 6 other days then the future candle might break it's low/high

In [8]:
for name in In.data['nifty_50']:
    if Intra.NR7(name):
        print(name)

ASIANPAINT
BAJAJFINSV
BHARTIARTL
CIPLA
GRASIM
HDFCLIFE
M&M
SHREECEM
TATACONSUM
WIPRO

## Whole Num Open
When Open == Low / High in Whole number as `xxx.00` within 15 minutes

In [5]:
result = Intra.intraday_whole_num_strategy(nifty=200, min_val=101,max_val=4999)
for key in result.keys():
    print(key,":\n")
    for r in sorted(result[key],key=lambda x: int(x[-1].split(' ')[-1])):
        print(r,'\n')

## Indices Based
Buy or Sell stock based on which indices are performing highest in first 5 mins. Buy or sell stocks only for those indices which arevperforming the greatest

# Get Particulars

In [25]:
In.get_particulars('DABUR',10000,100,delta=0.005)#, entry = 620.1 , stop_loss=587.9)  # 620.1, 587.9

{'Buying Price': 619.08,
 'Stop-Loss %': 5.13,
 'Target %': 10.25,
 'Quantity': 3.0,
 'Stop-Loss Price': 587.3485,
 'Trigger Price': 682.51,
 'Risk Per Share': 31.73,
 'Profit Per Share': 63.43,
 'Max loss on this config': 95.19,
 'Max Gain on this config': 190.29,
 'Price To Profit Ratio': 9.75,
 'Index': 'Nifty 100'}

In [5]:
NSE.current_indices_status(7)

                     index  percentChange                   key  variation
24          NIFTY PSU BANK           5.43      SECTORAL INDICES     130.95
8                INDIA VIX           4.97  BROAD MARKET INDICES       0.68
25      NIFTY PRIVATE BANK           2.67      SECTORAL INDICES     512.80
15              NIFTY BANK           2.22      SECTORAL INDICES     816.35
21             NIFTY MEDIA          -1.71      SECTORAL INDICES     -33.25
49            NIFTY ENERGY           1.47      THEMATIC INDICES     314.60
35  NIFTY50 PR 2X LEVERAGE           1.25      STRATEGY INDICES     114.10

In [4]:
NSE.open_nse_index('NIFTY PSU BANK')

           symbol  pChange     open  dayHigh   dayLow  lastPrice      Index
1             IOB    13.86    20.30    23.50    20.20      23.00  Nifty 500
2       CENTRALBK     8.49    21.20    23.60    21.15      23.00  Nifty 500
3        MAHABANK     8.40    18.60    20.15    18.25      20.00  Nifty 500
4             PSB     8.19    17.25    18.85    17.10      18.50      Other
5             PNB     7.61    38.80    41.95    38.50      41.70  Nifty 100
6       BANKINDIA     5.90    57.50    60.45    57.20      60.15  Nifty 200
7         UCOBANK     5.88    13.60    14.55    13.60      14.40  Nifty 500
0  NIFTY PSU BANK     5.43  2416.45  2552.20  2402.85    2541.95      Other
8      BANKBARODA     5.29    81.25    86.55    80.40      85.60  Nifty 200
9       UNIONBANK     5.16    35.10    37.10    34.80      36.65  Nifty 200